<!DOCTYPE html>
<html>
<head>
	
	<title>Survey From</title>
	
</head>
<body>
	<div id ="wrapper">
		<div id = "times">
		</div>
		<div id = "result">
			
				<h2 id = title> Here are the awesome quotes!</h2>
				<h3><%=quotes%> </h3> 	
				
				<h3><%=names%></h3>




		
		</div>
	</div>		
</body>
</html>