<!DOCTYPE html>
<html>
<head>
	
	<title>Quote Form</title>
	<link rel="stylesheet" type = "text/css" href="/index.css">
</head>
<body>
	<div id ="wrapper">
		<div id = "add">
			<form action="/elk" method="post">
				
				<h3> Name: <input type = "text" name ="name"></h3>
				<h3> Favorite Food: <input type = "text" name = "food" ></h3>
				<h3> Hobby: <input type = "text" name = "hobby"></h3>
					<input type ="submit" id = "button" value = "Add an elk!">
			</form>
		</div>
	</div>		
</body>
</html>