<!DOCTYPE html>
<html>
<head>
	
	<title>Quote Form</title>
	<link rel="stylesheet" type = "text/css" href="/index.css">
</head>
<body>
	<div id ="wrapper">
		<div id = "survey">
			<form action="/quotes" method="post">
				
				<h3> Your Name: <input type = "text" name ="name"></h3>
				<h3> Quote:
					<textarea name = "quote" ></textarea></h3>
					<input type ="submit" id = "button" value = "Add my quote!">
			</form>
			<form action="/red" method="post">
				<input type ="submit" id = "button" value = "Skip to quotes!">
			</form>
		</div>
	</div>		
</body>
</html>